extends template.pug

block header
  link(rel="stylesheet", href="/styles/admin.css")
  header(class="hbox home_header")
    img(src="/images/logo.svg", alt="Ketomojo")
    a(href='/auth/logout') Logout

block content
  div(class="page vbox")
    div(class="section")
      h2  Stock Management
      table
        tr(class="dark_row")
          td  Product Name
          td  In Stock
          td
          td

        tr
          td  Ketomojo
          td  50
          td
            button  Add Stock
          td
            button  Remove Product

        tr(class="dark_row")
          td  Ketone Strips
          td  50
          td
            button  Add Stock
          td
            button  Remove Product

        tr
          td  Glucose Strips
          td  50
          td
            button  Add Stock
          td
            button  Remove Product

      button Add Product

    div(class="section")
      h2  Analytics
      table
        tr(class="dark_row")
          td  Page
          td  Visitors
          td  Unique Visitors
          td

        tr
          td  Holding
          td
          td
          td
            button  Clear

        tr(class="dark_row")
          td  Landing
          td
          td
          td
            button  Clear

        tr
          td  Products
          td
          td
          td
            button  Clear

        tr(class="dark_row")
          td  Cart
          td
          td
          td
            button  Clear

        tr
          td  Payment
          td
          td
          td
            button  Clear

        tr(class="dark_row")
          td  Payment Successful
          td
          td
          td
            button  Clear

    div(class="section")
      h2  Client Interaction
      table
        tr(class="dark_row")
          td  Name
          td  Message
          td
          td
          td

        tr
          td  Name
          td
            p Message
          td
            button  Respond
          td
            button  Delete
          td
            button  Publish
