extends template.pug

block content
  h1 Cart
  ul
    li
      p #{cart.value1}
      a(href="/removeFromCart?product=product1") Remove from Cart
    li
      p #{cart.value2}
      a(href="/removeFromCart?product=product2") Remove from Cart
    li
      p #{cart.value3}
      a(href="/removeFromCart?product=product3") Remove from Cart

  p Total: #{cart.total}

  a(href="/verifyAddress") Checkout
