extends template.pug

block content
  h1 Cart
  table
    each item in cart
      tr
        td= item.name
        td= item.quantity
        td
          a(href=`/removeFromCart?product=${item.name}`) Remove
          
  p Total: #{cart.total}

  a(href="/verifyAddress") Checkout
