extends template.pug

block content
  form(action="/auth/forgotPassword", method="post", class="page vbox")
    label(for="email") Email:
    input(type="email", id="email", name="email", placeholder="Email")

    input(name="_csrf", id="csrf", value= csrfToken, type="hidden")

    button(type="submit") Reset Password
