doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 2BSure | Forgot Password

  body
    div(class="container")
      form(action="/auth/forgotPassword", method="post")
        label(for="email") Email:
        input(type="email", id="email", name="email", placeholder="Email")

        input(name="_csrf", id="csrf", value= csrfToken, type="hidden")

        button(type="submit") Reset Password
