extends template.pug

block content
  a(href="/info/ketosis") Ketosis
  a(href="/info/ketomojo") Ketomojo
  a(href="/info/instructions") Instructions
  a(href="/info/privacy_policy") Privacy Policy
  a(href="/info/terms_of_service") Terms of Service
