extends template.pug

block header
  header(class="hbox home_header")
    img(src="/images/logo.svg", alt="Ketomojo")
    a(href='register') Sign Up

block content
  div(class="page hbox")
    img(src="/images/ketomojo.svg", alt="Ketomojo", id="splash")
    div(class="vbox")
      p Short descriptive paragraph explaining the purpose and importance of ketomojo
      div
        a(href="info") Learn More
        a(href="products") Order Now

  div(class="page hbox")
    for product in products
      form(action="/cart/addToCart", method="post", class="vbox")
        img(src= product.imageURL)
        p R#{product.price}
        p #{product.name}
        input(name="product", value= product.id, type="hidden")
        input(name="_csrf", id="csrf", value= csrfToken, type="hidden")
        button(type="submit") Add to Cart
