extends template.pug

block content
  img(src="/images/ketomojo.svg", alt="Ketomojo", id="splash")
  p Short descriptive paragraph explaining the purpose and importance of ketomojo
  div
    a(href="learn_more") Learn More
    a(href="products") Order Now
