doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/styles/global.css")
    title 2BSure | Temporary Landing

  body
    input(id="dbProducts", value= products)
    input(id="csrf", value= csrfToken)
    div(id="products")
    script(src="/scripts/landing.js")
