extends template.pug

block content
  div(class="page")
    img(src="/images/ketomojo.svg", alt="Ketomojo", id="splash")
    p Short descriptive paragraph explaining the purpose and importance of ketomojo
    div
      a(href="learn_more") Learn More
      a(href="products") Order Now

  div(class="hbox")
    for product in products
      form(action="/addToCart", method="post", class="vbox")
        img(src= product.imageURL)
        p R#{product.price}
        p #{product.name}
        input(name="_csrf", id="csrf", value= csrfToken, type="hidden")
        button(type="submit") Add to Cart
