extends template.pug

block header
  header(class="hbox home_header")
    img(src="/images/logo.svg", alt="Ketomojo")
    a(href='/register') Register

block content
  div(class="page vbox")
    form(action="/auth/login", method="post", class="vbox panel")
      label(for="email") Email:
      input(type="email", id="email", name="email", placeholder="Email")

      label(for="password") Password:
      input(type="password", id="password", name="password", placeholder="Password")

      input(name="_csrf", id="csrf", value= csrfToken, type="hidden")

      button(type="submit") Login

      a(href="/auth/forgotPassword") Forgot Password
