doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/styles/global_min.css")
    title 2BSure | Login

  body
    div
      div
        img(src="/images/products/product_1.svg")
        p Ketomojo
        p R200
        a(href="addToCart?PRODUCT=product_1") Add to Cart

      div
        img(src="/images/products/product_2.svg")
        p Ketomojo and 50 Glucose Strips
        p R250
        a(href="addToCart?PRODUCT=product_2") Add to Cart

      div
        img(src="/images/products/product_3.svg")
        p Ketomojo and 50 Ketone Strips
        p R250
        a(href="addToCart?PRODUCT=product_3") Add to Cart

      div
        img(src="/images/products/product_4.svg")
        p Ketomojo and 50 Glucose Strips and 50 Ketone Strips
        p R300
        a(href="addToCart?PRODUCT=product_4") Add to Cart
