extends template.pug

block content
  div(class="page vbox")
    div(class="panel vbox")
      p Total: R#{total}
      form(action="https://sandbox.payfast.co.za/eng/process", method="post")
        input(name="amount", value= total, type="hidden")
        input(name="item_name", value="Ketomojo", type="hidden")
        input(name="merchant_id", value="10016058", type="hidden")
        input(name="merchant_key", value="2cgkp0p6u44z7", type="hidden")
        input(name="return_url", value="https://twobsure.herokuapp.com/user", type="hidden")
        input(name="cancel_url", value="https://twobsure.herokuapp.com/cart", type="hidden")
        input(name="notify_url", value="https://twobsure.herokuapp.com/payment/notification", type="hidden")
        input(name="custom_str1", value= cartID, type="hidden")
        button(type="submit") Pay
