extends template.pug

block content
  form(action="/payment", method="post")
    p #{product1}
    p #{product2}
    p #{product3}
    input(name="_csrf", id="csrf", value= csrfToken, type="hidden")
    button Pay
