extends template.pug

block content
  form(action="/payment", method="post")
    table
      each item in cart
        tr
          td= item.name
          td= item.quantity
    input(name="_csrf", id="csrf", value= csrfToken, type="hidden")
    button Pay
