extends template.pug

block content
  div(class="page vbox")
    div(class="panel vbox")
      p Total: R#{total}
      form(action="https://sandbox.payfast.co.za/eng/process", method="post")
        input(name="amount", value="10")
        input(name="item_name", value="Ketomojo")
        input(name="merchant_id", value="10016058")
        input(name="merchant_key", value="2cgkp0p6u44z7")
        input(name="return_url", value="https://twobsure.herokuapp.com/user")
        input(name="cancel_url", value="https://twobsure.herokuapp.com/cart")
        input(name="notify_url", value="https://twobsure.herokuapp.com/payment/notification")
        button(type="submit") Pay
