extends template.pug

block content
  div(id="products")
    div(class="product")
      img(src="/images/products/product_1.svg", alt="product 1")
      p R200
      p Ketomojo
      a(href="/addToCart?product=product1") Add to Cart
    div(class="product")
      img(src="/images/products/product_2.svg", alt="product 2")
      p R250
      p Ketomojo and Fifty Glucose Strips
      a(href="/addToCart?product=product2") Add to Cart
    div(class="product")
      img(src="/images/products/product_3.svg", alt="product 3")
      p R250
      p Ketomojo and Fifty Ketone Strips
      a(href="/addToCart?product=product3") Add to Cart
