extends template.pug

block content
  div(class="vbox page")
    for product in products
      form(action="/cart/addToCart", method="post", class="hbox")
        img(src= product.imageURL)
        p= product.description
        div(class="vbox")
          input(name="product", value= product.id, type="hidden")
          input(name="_csrf", id="csrf", value= csrfToken, type="hidden")
          a(href=`/products?SKU=${product.sku}`) Read More
          button(type="submit") Add to Cart
