extends template.pug

block header
  link(rel="stylesheet", href="/styles/register.css")
  header(class="hbox home_header")
    img(src="/images/logo.svg", alt="Ketomojo")
    a(href='/login') Login

block content
  div(class="page")
    form(action="/auth/register", method="post")
      label(for="email") Email:
      input(type="email", id="email", name="email", placeholder="Email")

      label(for="password") Password:
      input(type="password", id="password", name="password", placeholder="Password")

      label(for="confirm") Confirm Password
      input(type="password", id="confirm", name="confirm", placeholder="Confirm Password")

      input(name="_csrf", id="csrf", value= csrfToken, type="hidden")

      button(type="submit") Register

    div(id="textarea")
      p
        | Please read our
        a(href="/info/terms_of_service") Terms of Service
        |  before registering
