doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 2BSure | Reset Password

  body
    div(class="container")
      form(action="/auth/resetPassword", method="post")
        h1 Reset Password

        label(for="password") Password:
        input(type="password", id="password", name="password", placeholder="Password")

        input(name="_csrf", id="csrf", value= csrfToken, type="hidden")
        input(name="code", id="code", value= code, type="hidden")

        button(type="submit") Reset Password
