extends template.pug

block content
  form(action="/auth/resetPassword", method="post")
    h1 Reset Password

    label(for="password") Password:
    input(type="password", id="password", name="password", placeholder="Password")

    input(name="_csrf", id="csrf", value= csrfToken, type="hidden")
    input(name="code", id="code", value= code, type="hidden")

    button(type="submit") Reset Password
