doctype html
html(lang="en")
  head(id="head")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/styles/global_min.css", id="style")
    title 2BSure

  body(id="body")
    p If nothing happens,
      br
      a(href="/landing") Click here

  script(src="/scripts/SPA.js" charset="utf-8")
