doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/styles/global_min.css")
    title 2BSure | #{title}

  body
    header(class="hbox")
      a(href="/landing") Home
      a(href="/user") User
      a(href="/cart") Cart

    block content

    footer(class="hbox")
      ul
        a(href="/products") Products
        li
          a(href="/products/ketomojo") Ketomojo
        li
          a(href="/products/glucose_strips") Glucose Strips
        li
          a(href="/products/ketone_strips") Ketone Strips

      ul
        a(href="/info") Information
        li
          a(href="/info/ketomojo") Ketomojo
        li
          a(href="/info/ketosis") Ketosis
        li
          a(href="/info/instructions") Instructions
        li
          a(href="/info/privacy_policy") Privacy Policy
        li
          a(href="/info/terms_of_service") Terms of Service

      ul
        a(href="/contact") Contact
        li
          a(href="/contact/physical") Physical
        li
          a(href="/contact/social") Social
        li
          a(href="/contact/web_form") Web Form
