extends template.pug

block header
  link(rel="stylesheet", href="/styles/user.css")
  header(class="hbox home_header")
    img(src="/images/logo.svg", alt="Ketomojo")
    a(href='/auth/logout') Logout

block content
  div(class="page vbox")
    div(class="section")
      h2 Address Information
      p Aimee MacDonald
      p 27 da Game Street
      p Saldanha
      p 7395
      p Western Cape

    div(class="section")
      h2 Order Tracking
      p There are no active orders

    div(class="section")
      h2 Order History
      p There are no past orders

    div(class="section")
      h2 Product Registration
      p There are no registered devices
