extends template.pug

block content
  form(action="/payment/verifyAddress", method="post", class="page vbox")
    label(for="line1") House Number or Name
    input(id="line1", name="line1", value= line1, required)
    label(for="line2") Street Name
    input(id="line2", name="line2", value= line2, required)
    label(for="town") Town
    input(id="town", name="town", value= town, required)
    label(for="province") Province
    input(id="province", name="province", value= province, required)
    label(for="postcode") Postcode
    input(id="postcode", name="postcode", value= postcode, required)
    input(name="_csrf", id="csrf", value= csrfToken, type="hidden")
    button(type="submit") Payment
