doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/styles/global_min.css")
    title 2BSure | Verify Address

  body
  form(action="/verifyAddress", method="post")
    label Line 1
    input
    label Line 2
    input
    label Town
    input
    label Province
    input
    label Postcode
    input
    input(name="_csrf", id="csrf", value= csrfToken, type="hidden")
    button(type="submit") Payment
