body{
  background-color: #FFF2D5;
  margin: 0;
}

header{
  background-color: green;
  position: fixed;
  width: 100%;
  padding: 1rem 0;
  justify-content: space-around !important;
}

header a{
  background-color: lime;
  color: black;
  padding: 0.5rem 1.5rem;
  border-radius: 0.2rem;
  font-weight: bolder;
  text-decoration: none;
}

footer{
  background-color: green;
  justify-content: space-around !important;
  padding: 1rem 0;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p{
  text-align: center;
}

.page{
  width: 100%;
  overflow-x: hidden;
  height: 100vh;
}

.hbox{
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
}

.vbox{
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
}
