body{
  margin: 0;
  background-color: #0bf538;
  background: linear-gradient(to top right, #0bf538, #def50b);
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-flow: nowrap column;
}
