

body{
  background-color: #e3f6ff;
  margin: 0;
}

header{
  background-color: #2a323b;
  position: fixed;
  width: 100%;
  padding: 1rem 0;
  justify-content: space-around !important;
  box-shadow: 0 0.2rem 0.2rem 0 #666;
}

header a{
  background-color: transparent;
  color: #e3f6ff;
  padding: 0.5rem 2rem;
  border-radius: 0.2rem;
  font-weight: bolder;
  text-decoration: none;
  transition: 0.2s;
}

header a:hover{
  background-color: #00a2e8;
  transform: translateY(-2px);
}

.home_header{
  justify-content: space-between !important;
}

.home_header img{
  margin-left: 1rem;
}

.home_header a{
  background-color: #00a2e8;
  margin-right: 1rem;
}

button{
  padding: 0.7rem 2rem;
  background-color: #3F74A3;
  font-weight: bolder;
  border: 0;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

footer{
  background-color: #2a323b;
  justify-content: space-around !important;
  padding: 1rem 0;
}

footer a{
  color: white;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p{
  text-align: center;
}

.page{
  width: 100%;
  overflow-x: hidden;
  height: 100vh;
}

.hbox{
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
  align-items: center;
}

.vbox{
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
}

.panel{
  background-color: #032B4F;
  color: #3F74A3;
  padding: 3rem 2rem;
  min-width: 50%;
  border-radius: 1rem;
  box-shadow: 0rem 3rem 5rem 0rem #333;
}

.panel label{
  width: 100%;
  font-weight: bolder;
  margin-bottom: 0.2rem;
}

.panel input{
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 0.3rem;
  font-weight: bolder;
  text-align: center;
}

.panel table{
  min-width: 100%;
  text-align: center;
}

.panel a{
  margin-top: 1.5rem;
  color: #3F74A3;
}

#splash{
  height: 75%;
}
